*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 40px 0;
  margin: 0;
  color: #333;
  font-size: 20px;
  line-height: 1.7em;
  font-family: 'PT Sans Caption', sans-serif; }

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #999; }

.appstore {
  border-bottom: none; }

a:hover,
a:focus {
  color: #ff3c58;
  border-bottom: none; }

#wrapper {
  padding: 0 80px;
  margin: 0 auto;
  width: 960px; }

#content {
  padding: 40px 0 0 0; }

#apps {
  text-align: center;
  margin: 100px 0; }

#apps .app {
  display: inline-block;
  width: 280px;
  padding: 0 18px;
  margin-bottom: 50px; }

#apps .app a {
  border-bottom: none; }

#apps .app img {
  width: 256px;
  height: 256px; }

#apps .app p {
  font-size: 1.2em;
  padding: 0;
  margin: 10px 0; }

header {
  text-align: center;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #bbb; }

header a {
  color: #000;
  border-bottom: none;
  text-decoration: none; }

header h1 {
  font-size: 3em;
  margin: 0;
  padding: 0 0 10px 0;
  font-variant: small-caps; }

header p {
  margin: 0;
  padding: 0; }

footer {
  margin-top: 80px;
  border-top: 1px solid #bbb; }

footer p {
  font-size: 0.75em;
  text-align: center;
  line-height: normal;
  color: #666; }

footer a {
  border-bottom: none;
  color: #666; }

footer a:hover,
footer a:focus {
  color: #666; }

footer strong {
  color: #333; }

footer a:hover strong,
footer a:focus strong {
  color: #ff3c58; }

#contact-email {
  display: block;
  text-align: center;
  margin: 60px auto;
  border-bottom: 0;
  font-size: 3em;
  font-weight: bold;
  color: #ff3c58; }

nav {
  margin: 20px 0 0 0;
  padding: 15px 0 0 0;
  text-align: center;
  height: 50px;
  border-top: 1px solid #bbb; }

nav ul {
  margin: 0 auto;
  padding: 0 25px;
  line-height: 1.5em;
  height: 50px;
  z-index: 20;
  position: relative;
  white-space: nowrap; }

nav ul li {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  background: #fff;
  line-height: 50px;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: bold; }

nav ul li a {
  border-bottom: none;
  text-transform: uppercase; }

nav ul li a.selected {
  color: #ff3c58; }

p {
  padding: 0;
  margin: 15px 0; }

img {
  margin: 20px 0 0 0; }

h2 {
  font-variant: small-caps;
  font-size: 2.4em;
  margin: 0 0 30px 0;
  padding: 0;
  vertical-align: middle; }

h2 img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding-right: 10px;
  margin: -3px 0 0 0; }

h2 span {
  vertical-align: middle; }

h2 span.comingsoon {
  font-size: 0.4em;
  vertical-align: super;
  color: #aaa; }

h3 {
  font-size: 1.8em;
  font-variant: small-caps;
  margin: 80px 0 0 0;
  padding: 0; }

h4 {
  font-size: 1em;
  margin: 20px 0 0 0;
  padding: 0; }

.appstore {
  padding: 30px 0; }

.screenshots {
  overflow: hidden;
  font-size: 0.8em;
  padding: 0 0 0 20px; }

.screenshots .row {
  overflow: hidden; }

.screenshots .row div {
  width: 235px;
  float: left; }

.screenshots .mockup div {
  width: 300px; }

.screenshots div ul {
  margin-top: 0;
  padding-left: 20px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
