body {
	padding: 40px 0;
	margin: 0;
	color: #333;
	font-size: 20px;
	line-height: 1.7em;
	font-family: 'PT Sans Caption', sans-serif;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #999;
}

.appstore {
	border-bottom: none;
}

a:hover,
a:focus {
	color: #34a853;
	border-bottom: none;
}

#wrapper {
	padding: 0 80px;
	margin: 0 auto;	
	width: 960px;
}

#content {
	padding: 40px 0 0 0;
	
}

#apps {
	text-align: center;
	margin: 10px 0;
}

#apps .app {
	display: inline-block;
	width: 280px;
	padding: 0 18px;
	margin-bottom: 50px;
}

#apps .app a {
	border-bottom: none;
}

#apps .app img {
	width: 256px;
	height: 256px;
}

#apps .app p {
	font-size: 1.2em;
	padding: 0;
	margin: 10px 0;
}
header {
	text-align: left;
	padding: 0 0 0 0;
	border-bottom: 1px solid #bbb;
}

header h1,
header h2 {
	color: #000;
}

header h1 {
	font-size: 2em;
	font-variant: small-caps;
	margin: 0;
	padding: 0 0 10px 0;
}

header h1 a {
	color: #000;
	border-bottom: none;	
}

header h2 {
	font-size: 0.8em;
	font-weight: normal;
	font-variant: normal;

	border-bottom: none;
	margin-bottom: none;
	margin: 0 0 0 0;
	padding: 0;
}


footer {
	margin-top: 80px;
	border-top: 1px solid #bbb;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	line-height: normal;
	color: #666;
}

footer a {
	border-bottom: none;
	color: #666;
}

footer a:hover,
footer a:focus {
	color: #666;
}

footer strong {
	color: #333;
}

footer a:hover strong,
footer a:focus strong {
	color: #ff3c58;
}

#contact-email {
	display: block;
	text-align: center;
	margin: 60px auto;
	border-bottom: 0;
	font-size: 3em;
	font-weight: bold;
	color: #34a853;
}

nav {
	margin: 20px 0 0 0;
	padding: 15px 0 0 0;
	text-align: center;
	height: 50px;
	/*border-top: 1px solid #bbb;*/
}

nav ul {
	margin: 0 auto;
	padding: 0 25px;
	line-height: 1.5em;
	height: 50px;
	z-index: 20;
	position: relative;
	white-space: nowrap;
}

nav ul li {
	display: inline-block;
	padding: 0 20px;
	margin: 0;
	list-style: none;
	background: #fff;
	line-height: 50px;
	font-size: 0.8em;
	letter-spacing: 2px;
	font-weight: bold;
}

nav ul li a {
	border-bottom: none;
	text-transform: uppercase;
}

nav ul li a.selected {
	color: #ff3c58;
}
.divider {
	margin: -25px 0 25px 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
	z-index: 10;
	position: relative;
}
p {
	padding: 0;
	margin: 15px 0;
}

img {
	margin: 20px 0 0 0;
}

h2 {
	font-variant: small-caps;
	font-size: 2.4em;
	margin: 0 0 30px 0;
	padding: 0;
	vertical-align: middle;
}

h2 img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	padding-right: 10px;
	margin: -3px 0 0 0;
}

h2 span {
	vertical-align: middle;
}

h2 span.comingsoon {
	font-size: 0.4em;
	vertical-align: super;
	color: #aaa;
}

h3 {
	font-size: 1.8em;
	font-variant: small-caps;
	margin: 80px 0 0 0;
	padding: 0;
}

h4 {
	font-size: 1em;
	margin: 20px 0 0 0;
	padding: 0;
}

.appstore {
	padding: 30px 0;
}

.screenshots {
	overflow: hidden;
	font-size: 0.8em;
	padding: 0 0 0 20px;
}

.screenshots .row {
	overflow: hidden;
}

.screenshots .row div {
	width: 235px;
	float: left;
}

.screenshots .mockup div {
	width: 300px;
}

.screenshots div ul {
	margin-top: 0;
	padding-left: 20px;
}

#index {
	margin-top: 0px;
	
}

#index h1 {
	font-size: 2.0em;
}
#index h2 {
	font-size: 1.5em;
	text-decoration: none;
	margin-bottom: 0px;
}
#index h2 a {
	font-size: 1.0em;
	border-bottom: none;
	margin: 0px;
	display:block;
}

#index p {
	font-size: 0.75em;
	text-align: left;
	line-height: normal;
	color: #666;
}

#post  {
	margin-top: 0px;
}

#post article header h1 {
	font-size: 1.5em;
	font-variant: small-caps;
	text-align: center;

}
#post article time {
	font-size: 0.75em;
	text-align: center;
	display: block;
}
#post article header {
	border-bottom: none;
}
article div {
	width: 800px;
	margin: 0 auto;
	text-align: justify;
    text-justify: inter-word;
}

#pagination {
	margin-top: 20px;
	width: 800px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;

}

#pagination a {
	border-bottom: none;
	width: 380px;
	font-size: 0.85em;
	line-height: 1.3em;
	color: #666;
}

.pagination-previous {
	float: right;
	text-align: right;
}

.pagination-next {
	float: left;
	text-align: left;
}

#post-divider {

	border-top: 1px solid #bbb;


}

table {
    width: 100%;
}
td {
    vertical-align: top;
}
.d1 {
    text-align: left;
}
.d2 {
    text-align:center;
}
.d3 {
    text-align:right;
}


#code article header
{
	border-bottom: 1px solid #999;
}

#code article header h3 {
	padding: 0;
	margin: 0;
	font-family: tahoma, sans-serif;
}

#code article header p {
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 0.9em;
	color: #666;
}
